@media (max-width: 991px) {

    :root {
        --gren-gray-scale-900: #002603;
        --gren-gray-scale-800: #173b1a;
        --gren-gray-scale-700: #2b572e;
        --gren-gray-scale-600: #406b42;
        --gren-gray-scale-500: #618062;
        --gren-gray-scale-400: #7a997c;
        --gren-gray-scale-300: #96b297;
        --gren-gray-scale-200: #b4ccb4;
        --gren-gray-scale-100: #dae5da;
        --gren-gray-scale-50: #edf2ee;
        --gray-scale-gray-–-900: #1a1a1a;
        --gray-scale-gray-–-800: #333;
        --gray-scale-gray-–-700: #4d4d4d;
        --gray-scale-gray-–-600: #666;
        --gray-scale-gray-–-500: #808080;
        --gray-scale-gray-–-400: #999;
        --gray-scale-gray-–-300: #b3b3b3;
        --gray-scale-gray-–-200: #ccc;
        --gray-scale-gray-–-100: #e6e6e6;
        --gray-scale-gray-–-50: #f2f2f2;
        --gray-scale-white: #fff;
        --branding-success-bright: #84d187;
        --branding-success: #00b207;
        --branding-success-neutral: #00a706;
        --branding-success-dark: #2c742f;
        --branding-warning: #ff8a00;
        --branding-error: #ea4b48;
        --font-family: "Poppins", sans-serif;
        --second-family: "Segoe Script", sans-serif;
        --third-family: "Dancing Script", sans-serif;
    }

    /*-- ============= header SECTION START ==================== --*/

    /* -- ==== mobile header Part Start ====== -- */
    #mobile-header {
        padding: 12px 0;
        box-shadow: 0 0 12px 0 rgba(73, 73, 73, 0.322);
        position: relative;
        z-index: 1;
    }

    #mobile-header .mobile_menu .menu_icon {
        font-size: 28px;
        border-radius: 5px;
        border: 1px solid #eeeded;
    }

    #mobile-header .mobile_menu .menu_icon:hover {
        color: var(--gray-scale-gray-–-700);
    }

    #mobile-header .offcanvas-header .btn-close:focus {
        box-shadow: 0 0 0 3px #ff444148;
    }

    #mobile-header .offcanvas-body ul.nav-tabs {
        border-bottom: 1px solid var(--gray-scale-gray-–-100);
        box-shadow: 0 0 12px 0 rgba(32, 181, 37, 0.400);
        position: relative;
    }

    #mobile-header .offcanvas-body ul.nav-tabs li.nav-item {
        width: 50%;
    }

    #mobile-header .offcanvas-body ul.nav-tabs li.nav-item:hover {
        background: var(--branding-success);
    }

    #mobile-header ul.nav-tabs,
    #mobile-header ul.nav-tabs li.nav-item button.nav-link {
        border: none;
        width: 100%;
        border-radius: 0;
        color: var(--gray-scale-gray-–-900);
        margin: 0;
        transition: color 0s;
    }

    #mobile-header ul.nav-tabs li.nav-item button.nav-link:hover {
        color: var(--gray-scale-white);
    }

    #mobile-header ul.nav-tabs li.nav-item button.nav-link:focus-visible {
        box-shadow: none;
    }

    #mobile-header ul.nav-tabs li.nav-item button.nav-link.active {
        background: var(--branding-success-dark);
        color: var(--gray-scale-white);
        border: none;
    }


    .brand_logo {
        font-size: 26px;
    }

    .brand_logo>img {
        height: 26px;
        width: 26px;
    }

    ul.icon_group li {
        font-size: 28px;
    }

    ul.icon_group>li:last-child {
        padding-left: 8px;
    }

    ul.icon_group li:not(:last-child) {
        margin-right: 12px;
    }

    ul.icon_group li:last-child::before {
        height: calc(100% - 10px);
    }

    ul.icon_group li.shopping_cart .cart_wrapper .item_count {
        font-size: 8px;
        line-height: 16px;
        width: 16px;
        height: 16px;
    }

    ul.icon_group li.shopping_cart .cart_icon {
        font-size: 28px;
    }

    ul.icon_group li .offcanvas-top button.btn-close {
        font-size: 18px;
    }

    /* -- ==== mobile header Part End ====== -- */

    /*-- ============= header SECTION END ==================== --*/

    /*-- ========= banner SECTION START =============== --*/
    #banner {
        padding-top: 10px;
    }

    #banner .slide .slide_contents {
        margin-left: 0;
        text-align: center;
    }

    #banner .slide .slide_contents h3 {
        font-size: 42px;
    }

    #banner .slide .slide_contents p {
        width: 95%;
    }

    #banner .slide .slide_contents a,
    .shop-btn {
        font-size: 15px;
        padding: 12px 26px;
    }

    #banner .slide .slide_contents a span,
    .shop-btn span {
        font-size: 19px;
        margin-left: 8px;
    }

    #banner .banner_slider ul.slick-dots {
        margin-top: 34px;
    }

    /*-- ========= banner SECTION END =============== --*/

    /*-- ========= feature SECTION START =============== --*/
    #feature {
        padding-top: 60px;
        background: linear-gradient(to bottom, var(--gray-scale-white) 87%, var(--gren-gray-scale-50) 13%);

    }

    #feature .container {
        padding: 0 24px;
    }

    #feature .row {
        margin: 0;
    }

    #feature .feature_card:first-child {
        border-radius: 8px 8px 0 0;
    }

    #feature .feature_card:last-child {
        border-radius: 0 0 8px 8px;
    }

    /*-- ========= feature SECTION END =============== --*/

    /*-- ========= products SECTION START =============== --*/
    #products {
        padding: 70px 0;
    }

    .products_header .wrapper {
        width: 100%;
    }

    .products_header h4.title {
        font-size: 28px;
        padding-bottom: 18px;
    }

    .products_header ul.filter li {
        padding: 0 6px;
        font-size: 13px;
    }

    .products_header ul.filter li:first-child {
        padding: 0 6px 0 0;
    }

    .products_header ul.filter li:last-child {
        padding: 0 0 0 6px;
    }

    .products_header ul.filter li button {
        padding: 0 4px 10px;
    }

    .row.products_contents {
        margin-top: 35px;
    }


    .row.products_contents .p_card .img_wrapper p {
        font-size: 12px;
        padding: 2px 4px;
        top: 10px;
        left: 10px;
    }

    .row.products_contents .p_card .cart {
        font-size: 20px !important;
        padding: 8px !important;
    }

    .row.products_contents .p_card .img_wrapper a {
        font-size: 16px;
        padding: 5px;
        top: 10px;
        right: -35px;
    }

    .row.products_contents .p_card:hover .img_wrapper a {
        right: 10px;

    }

    .row.products_contents .p_card .img_wrapper a:last-of-type {
        top: 44px;
        transition-delay: 0.1s;
    }

    .row.products_contents .p_card .card_contents {
        padding: 8px 10px 18px;
    }

    .p_card .card_contents .description a {
        font-size: 14px;
    }

    .p_card .card_contents .description h4 {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .p_card .card_contents .description h4 del {
        font-size: 14px;
    }


    /*-- ========= products SECTION END =============== --*/

    /*-- ========= banner-2 SECTION START =============== --*/
    #banner-2 {
        padding: 70px 0;
    }

    #banner-2 .banner_2_card {
        width: 100%;
    }

    #banner-2 .banner_2_card:nth-child(2) {
        margin: 24px 0;
    }

    #banner-2 .banner_2_card .contents_wrapper h3 {
        font-size: 27px;
        line-height: 120%;
        color: var(--gray-scale-white);
    }

    #banner-2 .banner_2_card .contents_wrapper h5 {
        font-size: 13px;
    }

    #banner-2 .banner_2_card .contents_wrapper h5 span {
        font-size: 16px;
    }

    #banner-2 .banner_2_card .contents_wrapper a {
        font-size: 12px;
        line-height: 120%;
        padding: 9px 16px;
    }

    #banner-2 .banner_2_card .contents_wrapper a span {
        font-size: 14px;
        margin-left: 4px;
    }

    /*-- ========= banner-2 SECTION END =============== --*/

    /*-- ========= best-deal SECTION START =============== --*/
    #best-deal {
        padding: 20px 0;
    }

    #best-deal .img_part_1 {
        justify-content: center;
    }

    #best-deal .img_part_1 img {
        display: inline-block;
        width: 100%;
    }

    #best-deal .countdown {
        margin: 30px 0 40px;
    }

    #best-deal .countdown h3 {
        font-size: 30px;
        margin: 12px 0 24px;
    }


    #best-deal .timer .time_part {
        width: calc(25% - 13px);
        padding: 14px 6px;
    }

    #best-deal .timer .time_part:not(:first-child)::before {
        left: -13.5%;
    }

    #best-deal .timer .time_part h4 {
        font-size: 30px;
        margin-bottom: 4px;
    }

    #best-deal .timer .time_part h6 {
        font-size: 12px;
    }

    #best-deal .img_part_2 {
        align-items: center;
        justify-content: center;
    }

    #best-deal .img_part_2 img {
        width: 100%;
        margin: 0;
    }

    /*-- ========= best-deal SECTION END =============== --*/

    /*-- ========= featured-products SECTION START =============== --*/
    #featured-products {
        padding: 60px 0;
    }

    /*-- ========= featured-products SECTION END =============== --*/

    /*-- ========= testomonial SECTION START =============== --*/
    #testimonial {
        padding: 60px 0 10px;
    }


    #testimonial h3 {
        font-size: 31px;
        margin-bottom: 38px;
    }

    #testimonial .row .review {
        width: 100%;
        margin-bottom: 40px;
    }

    #testimonial .review .review_text {
        padding-top: 24px;
        margin-bottom: 28px;
    }


    #testimonial .review .review_text p {
        font-size: 14px;
    }

    #testimonial .review .review_text span {
        margin-bottom: 18px;
    }


    #testimonial-video {
        padding-bottom: 50px;
    }

    #testimonial-video .container .contents_wrapper {
        top: 42%;
    }

    #testimonial-video .container .contents_wrapper h4 {
        font-weight: 500;
        font-size: 16px;
        margin: 8px 0;
    }

    #testimonial-video .container .contents_wrapper button {
        font-size: 10px;
        padding: 12px;
    }


    /*-- ========= testomonial SECTION END =============== --*/

    /*-- ========= blog SECTION START =============== --*/
    #blog {
        padding: 25px 0 40px;
        background: linear-gradient(to bottom, var(--gray-scale-white) 50%, var(--gren-gray-scale-50) 50%);
    }

    #blog h3 {
        font-weight: 550;
        font-size: 35px;
        margin-bottom: 20px;
    }

    #blog .blog_card {
        width: 100%;
        margin-bottom: 16px;
    }

    #blog .blog_card .img_wrapper .date {
        padding: 4px 12px 6px;
        left: 16px;
        bottom: 16px;
    }

    #blog .blog_card .img_wrapper .date h4 {
        font-size: 16px;
    }

    #blog .blog_card .img_wrapper .date h6 {
        font-size: 10px;
    }

    /*-- ========= blog SECTION END =============== --*/

    /*-- ========= newsletter SECTION START =============== --*/


    #newsletter .contents h4 {
        font-size: 20px;
        margin-bottom: 0;
    }

    #newsletter .subscription {
        margin: 35px 0 15px;
        display: flex;
        justify-content: center;
    }

    #newsletter .subscription form {
        width: 100%;
        height: 42px;
    }

    #newsletter .subscription form input {
        font-size: 14px;
        padding: 0 31% 0 18px;
    }

    #newsletter .subscription form button {
        font-weight: 550;
        font-size: 12px;
        width: 29%;
        padding: 0;
    }

    /*-- ========= newsletter SECTION END =============== --*/

    /*-- ========= main-footer SECTION START =============== --*/
    #main-footer .footer_row {
        padding: 55px 0;
    }


    #main-footer .company_detail h4 {
        font-size: 24px;
    }

    #main-footer .company_detail .contact_link {
        margin-bottom: 20px;
    }

    #main-footer .footer_row>div:nth-child(2),
    #main-footer .footer_row>div:nth-child(3),
    #main-footer .footer_row>div:nth-child(4),
    #main-footer .footer_row>div:nth-child(5) {
        margin-top: 30px;
    }


    /*-- ========= main-footer SECTION END =============== --*/
}