@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Segoe Script", sans-serif;
    src: url(./segoesc.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
hr,
table,
figure,
pre,
address,
blockquote {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a,
button,
select {
    text-decoration: none;
    color: inherit;
    background: inherit;
}

:root {
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray-–-900: #1a1a1a;
    --gray-scale-gray-–-800: #333;
    --gray-scale-gray-–-700: #4d4d4d;
    --gray-scale-gray-–-600: #666;
    --gray-scale-gray-–-500: #808080;
    --gray-scale-gray-–-400: #999;
    --gray-scale-gray-–-300: #b3b3b3;
    --gray-scale-gray-–-200: #ccc;
    --gray-scale-gray-–-100: #e6e6e6;
    --gray-scale-gray-–-50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-neutral: #00a706;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body {
    font-family: var(--font-family);
}


.flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

.flex-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-start {
    display: flex;
    align-items: flex-start;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-align-end {
    display: flex;
    align-items: flex-end;
}

.iconify {
    display: inline-flex;
    align-items: center;
}

.brand_logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.03em;
    color: var(--gren-gray-scale-900);
    display: inline-flex;
    align-items: center;
}

.brand_logo:hover {
    color: var(--gray-scale-gray-–-700);
}

.brand_logo>img {
    margin-right: 8px;
}

/*-- ============= common css end ================== --*/

/*-- ============= header SECTION START ==================== --*/

/* header shrink */
/* header {
    position: fixed;
    width: 100%;
    z-index: 999;
} */

/* -- ==== top header Part Start ====== -- */
#top-header {
    background: var(--gray-scale-gray-–-800);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray-–-300);
    padding: 12px 0;
    transition: 0.3s linear;
}

#top-header .location p span {
    font-size: 16px;
    margin-right: 4px;
}

#top-header .utilities select {
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

#top-header .utilities select:hover {
    color: var(--gray-scale-gray-–-400);
}

#top-header .utilities .sign_opt a:hover {
    color: var(--gray-scale-gray-–-200);
}

#top-header .utilities .sign_opt {
    position: relative;
    padding-left: 20px;
    display: inline-block;
}

#top-header .utilities .sign_opt::before {
    content: '';
    height: 15px;
    width: 1px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: -0.5px;
    transform: translateY(-50%);
}

/* -- ==== top header Part End ====== -- */

/* -- ==== middle header Part Start ====== -- */
#middle-header .navbar {
    padding: 24px 0;
    transition: 0.3s linear;
    transition-delay: 0.2s;
    background: var(--gray-scale-white);
}

.search_bar {
    display: flex;
    justify-content: center;
}

.search_bar .search_form {
    width: 498px;
    height: 45px;
    display: flex;
    position: relative;
}

#mobile-header .search_bar .search_form {
    width: 340px;
    height: 40px;
}

.search_bar .search_form .search_input {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid var(--gray-scale-gray-–-100);
    padding: 0 110px 0 44px;
    transition: outline 0.05s linear,
        box-shadow 0.3s linear;
    outline: 1px solid transparent;
}

.search_bar .search_form .search_input:focus {
    outline: 1px solid var(--gray-scale-gray-–-100);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250);
}

.search_bar .search_form .search_input::placeholder {
    color: var(--gray-scale-gray-–-500);
}

.search_bar .search_form .search_btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-white);
    background: var(--branding-success);
    width: 98px;
    height: 100%;
    border: none;
    border-radius: 0 6px 6px 0;
    position: absolute;
    right: 0;
}

#mobile-header .search_bar .search_form .search_btn {
    width: 88px;
}

.search_bar .search_form .search_btn:hover {
    background: var(--branding-success-dark);
}

.search_bar .search_form .search_icon,
.search_bar .search_form .close_btn {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.search_bar .search_form .close_btn {
    font-size: 24px;
    left: initial;
    right: 16px !important;
    display: none;
}

ul.icon_group {
    color: var(--gray-scale-gray-–-900);
}

ul.icon_group li,
ul.icon_group li.shopping_cart .cart_wrapper {
    display: flex;
    align-items: center;
}

ul.icon_group li {
    font-size: 32px;
}

ul.icon_group>li:last-child {
    position: relative;
    padding-left: 16px;
}

ul.icon_group li.shopping_cart .cart_contents {
    margin-left: 12px;
}

ul.icon_group li:not(:last-child) {
    margin-right: 16px;
}

ul.icon_group li:last-child::before {
    content: '';
    height: calc(100% - 10px);
    width: 1px;
    background: var(--gray-scale-gray-–-200);
    position: absolute;
    left: -0.5px;
    top: 50%;
    transform: translateY(-50%);
}

ul.icon_group li.shopping_cart .cart_wrapper {
    position: relative;
}

ul.icon_group li a:hover,
ul.icon_group li.shopping_cart div.cart_wrapper:hover {
    color: var(--gray-scale-gray-–-600);

}

ul.icon_group li.shopping_cart .cart_wrapper .item_count {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: var(--gray-scale-white);
    width: 18px;
    height: 18px;
    background: var(--branding-success-dark);
    border: 1px solid var(--gray-scale-white);
    border-radius: 16px;
    position: absolute;
    top: -2px;
    right: -3px;
}

ul.icon_group li.shopping_cart .cart_icon {
    font-size: 36px;
}

ul.icon_group li.shopping_cart .cart_contents p {
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-700);
    margin-bottom: 7px;
}

ul.icon_group li.shopping_cart .cart_contents h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}

/* -- ==== middle header Part End ====== -- */

/* -- ==== bottom header Part Start ====== -- */
#bottom-header {
    background: var(--gray-scale-gray-–-50);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}

#bottom-header .pages ul.page_list {
    display: flex;
}

#bottom-header ul.page_list li {
    padding: 17.5px 16px;
    position: relative;
    cursor: pointer;
}

#bottom-header ul.page_list>li:hover {
    color: var(--gray-scale-gray-–-900);
}

#bottom-header ul.page_list>li::before {
    content: '';
    height: 2px;
    width: 0;
    background: var(--branding-success);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;

}

#bottom-header ul.page_list>li:hover::before {
    width: 100%;

}

#bottom-header ul.page_list li.categories:hover::before,
#bottom-header ul.page_list li.active-page:hover::before {
    width: 0;
}

#bottom-header ul.page_list li.active-page {
    /* background: var(--branding-success-dark); */
    color: var(--branding-success);
    border-right: 1px solid var(--branding-success);
    border-left: 1px solid var(--branding-success);
}

#bottom-header ul.page_list li.categories {
    padding: 16px 24px;
    margin-right: 16px;
    color: var(--gray-scale-white);
    background: var(--branding-success);
}

#bottom-header ul.page_list li.categories:hover,
#mobile-header .offcanvas-body ul.nav-tabs li.nav-item:hover {
    background: var(--branding-success-dark);
}

#bottom-header ul.page_list li.categories button span:first-child,
ul.category_list li a span {
    font-size: 24px;
    margin-right: 8px;
}

#bottom-header ul.page_list li.categories button span:last-child {
    font-size: 26px;
    margin-left: 8px;
}

ul.category_list {
    font-weight: 400;
    color: var(--gray-scale-gray-–-900);
    background: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-–-100);
    border-top: none;
}

#mobile-header .offcanvas-body .tab-content ul.mobile_pages {
    font-weight: 400;
    color: var(--gray-scale-gray-–-900);
    background: var(--gray-scale-white);
    text-align: center;
}

#bottom-header li.categories ul.category_list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    border: 1px solid var(--gray-scale-gray-–-100);
    z-index: 1;
}

ul.category_list li,
#mobile-header .offcanvas-body .tab-content ul.mobile_pages li {
    padding: 10px 0 10px 15px;
    border: 0.1px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 5px;
}

#bottom-header li.categories ul.category_list li {
    border-radius: 0;
}

ul.category_list li:hover,
ul.category_list li:focus,
#mobile-header .offcanvas-body .tab-content ul.mobile_pages li:hover,
#mobile-header .offcanvas-body .tab-content ul.mobile_pages li:focus {
    color: var(--branding-success);
    border-left: 5px solid var(--branding-success-neutral);
}

ul.category_list li:hover a span.iconify {
    color: var(--branding-success-neutral);
}

ul.category_list li:last-child {
    border-top: 1px solid var(--gray-scale-gray-–-100);
}

ul.category_list li a span.iconify {
    color: var(--gray-scale-gray-–-400);
}

#bottom-header .contact p.contact_num {
    font-size: 14px;
    color: var(--gray-scale-gray-–-900);
}

#bottom-header .contact p.contact_num span.iconify {
    font-size: 28px;
    margin-right: 8px;
}

/* -- ==== bottom header Part End ====== -- */

/*-- ============= header SECTION END ==================== --*/

/*-- ========= banner SECTION START =============== --*/
#banner {
    padding-top: 68px;
}

#banner .container {
    position: relative;
}

#banner .banner_slider .row.slide .img_wrapper {
    position: relative;
}

#banner .row.slide .img_wrapper .discount_label {
    color: var(--gray-scale-white);
    height: 80px;
    width: 80px;
    background: var(--branding-warning);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23%;
    right: 5%;
}

#banner .slide .img_wrapper .discount_label h4 {
    font-weight: 550;
    font-size: 28px;
    line-height: 120%;
}

#banner .slide .img_wrapper .discount_label h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

#banner .slide .slide_contents {
    margin-left: 18px;
}

#banner .slide .slide_contents h5 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: var(--branding-success);
}

#banner .slide .slide_contents h3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
    margin: 8px 0 20px;
}

#banner .slide .slide_contents p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
    margin-bottom: 32px;
}

#banner .slide .slide_contents a,
.shop-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    background: var(--branding-success);
    border-radius: 43px;
    padding: 16px 40px;
    border: 1px solid transparent;
}

#banner .slide .slide_contents a:hover,
#banner .slide .slide_contents a:focus,
.shop-btn:hover,
.shop-btn:focus {
    color: var(--branding-success);
    background: var(--gray-scale-white);
    border: 1px solid var(--branding-success);
    transition: border 0.3s ease-in-out;
}

#banner .slide .slide_contents a span,
.shop-btn span {
    font-size: 20px;
    margin-left: 16px;
}

#banner .prev_arrow,
#banner .next_arrow {
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--gren-gray-scale-100);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#banner .prev_arrow:hover,
#banner .next_arrow:hover {
    border: 1px solid var(--gren-gray-scale-300);
}

#banner .prev_arrow {
    left: -48px;
}

#banner .next_arrow {
    right: -48px;
}

#banner .banner_slider ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 28px;
}

#banner .banner_slider ul.slick-dots li {
    line-height: 0;
}

#banner .banner_slider ul.slick-dots li button {
    width: 9px;
    height: 9px;
    background: var(--gren-gray-scale-200);
    border-radius: 100%;
    transition: all 0.4s cubic-bezier(.12, 2.06, .8, .39);
}

#banner .banner_slider ul.slick-dots li.slick-active button {
    width: 18px;
    background: var(--branding-success);
    border-radius: 50px;
}

/*-- ========= banner SECTION END =============== --*/

/*-- ========= feature SECTION START =============== --*/
#feature {
    padding-top: 29px;
    background: linear-gradient(to bottom, var(--gray-scale-white) 53%, var(--gren-gray-scale-50) 47%);
}

#feature .row {
    box-shadow: 0 16px 48px 0 rgba(14, 107, 21, 0.08);
    position: relative;
}

#feature .feature_card {
    padding: 40px;
    border: 1px solid var(--gren-gray-scale-100);
    text-align: center;
    background: var(--gray-scale-white);
}

#feature .feature_card.active_card {
    background: var(--branding-success);
    border: 1px solid var(--branding-success);
}

#feature .feature_card:first-child {
    border-radius: 8px 0 0 8px;
}

#feature .feature_card:last-child {
    border-radius: 0 8px 8px 0;
}

#feature .feature_card .img_wrapper {
    padding: 15px;
    line-height: 0;
    display: inline-block;
    border: 1px solid var(--gren-gray-scale-100);
    border-radius: 100%;
}

#feature .feature_card.active_card .img_wrapper {
    border: 1px solid var(--branding-success);
    background: var(--gray-scale-white);
}

#feature .feature_card h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin: 16px 0 8px;
}

#feature .feature_card.active_card h4 {
    color: var(--gray-scale-white);
}

#feature .feature_card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-400);
}

#feature .feature_card.active_card p {
    color: var(--gray-scale-white);
}

/*-- ========= feature SECTION END =============== --*/

/*-- ========= products SECTION START =============== --*/
#products {
    padding: 100px 0;
    background: var(--gren-gray-scale-50);
}

.products_header h4.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
    padding-bottom: 24px;
}

.products_header ul.filter {
    display: flex;
    justify-content: center;
}

.products_header ul.filter li {
    padding: 0 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--gray-scale-gray-–-500);
    position: relative;
}

.products_header ul.filter li:not(:first-child)::before {
    content: '';
    height: 16px;
    width: 1px;
    background: var(--gren-gray-scale-200);
    position: absolute;
    top: 0;
    left: 0;
}

.products_header ul.filter li:first-child {
    padding: 0 14px 0 0;
}

.products_header ul.filter li:last-child {
    padding: 0 0 0 14px;
}

.products_header ul.filter li button {
    padding: 0 8px 10px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.products_header ul.filter li button:hover {
    color: var(--branding-success);
}

.products_header ul.filter li button.active_btn {
    color: var(--branding-success);
    border-bottom: 2px solid var(--branding-success);
}

.row.products_contents {
    margin-top: 50px;
}

.row.products_contents .p_card {
    background: var(--gray-scale-white);
    border: 1px solid var(--gren-gray-scale-100);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.row.products_contents .p_card:hover {
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    border: 1px solid var(--branding-success-dark);
}

.row.products_contents .p_card .img_wrapper {
    position: relative;
}

.row.products_contents .p_card .img_wrapper p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 3px 8px;
    color: var(--gray-scale-white);
    background: var(--branding-error);
    border-radius: 4px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.row.products_contents .p_card .img_wrapper a {
    font-size: 22px;
    display: inline-flex;
    padding: 10px;
    border: 1px solid var(--gray-scale-gray-–-50);
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: -55px;
    transition: right 0.3s cubic-bezier(.64, .61, .32, 1.5);
    z-index: 3;
}

.row.products_contents .p_card:hover .img_wrapper a {
    right: 20px;

}

.row.products_contents .p_card .img_wrapper a:hover {
    color: var(--gray-scale-white);
    background: var(--branding-success);
    border: 1px solid var(--branding-success);
}

.row.products_contents .p_card .img_wrapper a:last-of-type {
    top: 74px;
    transition-delay: 0.1s;
}

.row.products_contents .p_card .card_contents {
    padding: 16px 20px 20px;
}

.p_card .card_contents .description a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-700);
    cursor: pointer;
}

.p_card:hover .card_contents .description a {
    color: var(--gren-gray-scale-500);
}

.p_card .card_contents .description a::after {
    content: '';
    position: absolute;
    inset: 0;
}

.p_card .card_contents .description h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin-bottom: 10px;
}

.p_card .card_contents .description h4 del {
    font-weight: 400;
    font-size: 16px;
    color: var(--gren-gray-scale-400);
}

.p_card .card_contents .ratings span {
    color: var(--branding-warning);
}

.p_card .card_contents .ratings span:last-child {
    color: var(--gray-scale-gray-–-200);
}

.row.products_contents .p_card .cart {
    font-size: 24px;
    padding: 13px;
    background: var(--gren-gray-scale-100);
    border-radius: 100%;
    cursor: pointer;
    z-index: 3;
}

.row.products_contents .p_card .cart:hover {
    color: var(--gray-scale-white);
    background: var(--branding-success) !important;
}

/*-- ========= products SECTION END =============== --*/

/*-- ========= banner-2 SECTION START =============== --*/
#banner-2 {
    padding: 100px 0;
}

#banner-2 .banner_2_card {
    background-image: url(../images/banner_2_img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 24px;
    border-radius: 8px;
    width: calc(33% - 16px);
}

#banner-2 .banner_2_card:nth-child(2) {
    background-image: url(../images/banner_2_img2.png);
    justify-content: end;
}

#banner-2 .banner_2_card:nth-child(3) {
    background-image: url(../images/banner_2_img3.png);
}

#banner-2 .banner_2_card .contents_wrapper h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--gray-scale-white);
}

#banner-2 .banner_2_card:not(:first-child) .contents_wrapper h3 {
    color: var(--gren-gray-scale-900);
    margin: 8px 0 20px;
}

#banner-2 .banner_2_card .contents_wrapper h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin: 8px 0 16px;
}

#banner-2 .banner_2_card:not(:first-child) .contents_wrapper h5 {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--gren-gray-scale-900);
    margin: 0;
}

#banner-2 .banner_2_card .contents_wrapper h5 span {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-scale-white);
    display: inline-block;
}

#banner-2 .banner_2_card .contents_wrapper a {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--branding-success);
    background: var(--gray-scale-white);
    padding: 14px 32px;
    border-radius: 43px;
    border: 1px solid transparent;
    transition: border 0.2s linear;
}

#banner-2 .banner_2_card .contents_wrapper a:hover {
    border: 1px solid var(--branding-success-dark);
    color: var(--branding-success-dark);
}

#banner-2 .banner_2_card .contents_wrapper a span {
    font-size: 16px;
    margin-left: 12px;
}

/*-- ========= banner-2 SECTION END =============== --*/

/*-- ========= best-deal SECTION START =============== --*/
#best-deal {
    background: var(--gren-gray-scale-50);
}

#best-deal .countdown {
    margin: 100px 0 100px 40px;
    text-align: center;
}

#best-deal .countdown h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: var(--branding-success);
}

#best-deal .countdown h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
    margin: 12px 0 24px;
}

#best-deal .countdown .timer {
    margin-bottom: 32px;
}

#best-deal .timer .time_part {
    width: calc(25% - 15px);
    border-radius: 6px;
    background: var(--gray-scale-white);
    padding: 20px 8px;
    position: relative;
}

#best-deal .timer .time_part:not(:first-child)::before {
    content: ':';
    font-size: 20px;
    color: var(--gren-gray-scale-500);
    font-weight: 400;
    line-height: 150%;
    position: absolute;
    top: 50%;
    left: -13%;
    transform: translateY(-50%);
}

#best-deal .timer .time_part h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--branding-success);
    margin-bottom: 4px;
}

#best-deal .timer .time_part h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gren-gray-scale-500);
}

#best-deal .img_part_2 img {
    display: inline-block;
    margin-left: -50px;
}

/*-- ========= best-deal SECTION END =============== --*/

/*-- ========= featured-products SECTION START =============== --*/
#featured-products {
    padding: 100px 0;
}

#featured-products .products_header h4.title {
    color: var(--gray-scale-gray-–-900);
    padding: 0;
}

#featured-products .row.products_contents .p_card .cart {
    font-size: 22px;
    padding: 10px;
    background: var(--gray-scale-gray-–-100);
}

/*-- ========= featured-products SECTION END =============== --*/

/*-- ========= testimonial SECTION START =============== --*/
#testimonial {
    padding: 100px 0 90px;
    background: var(--gren-gray-scale-50);
}

#testimonial h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
    margin-bottom: 43px;
}

#testimonial .row .review {
    width: calc(33.33% - 16px);
}

#testimonial .review .review_text {
    background: var(--gray-scale-white);
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 32px;
    margin-bottom: 28px;
}

#testimonial .review .review_text::before {
    content: '';
    height: 18px;
    width: 18px;
    background: var(--gray-scale-white);
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#testimonial .review .review_text span {
    color: var(--branding-success);
    font-size: 40px !important;
    margin-bottom: 24px;
}

#testimonial .review .review_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-600);
}

#testimonial .review .reviewer {
    text-align: center;
}

#testimonial .review .reviewer h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin-top: 14px;
}

#testimonial .review .reviewer h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#testimonial-video {
    background: linear-gradient(to bottom, var(--gren-gray-scale-50) 50%, var(--gray-scale-white) 50%);
    padding-bottom: 100px;
}

#testimonial-video .container .img_wrapper {
    width: 100%;
    position: relative;
}

#testimonial-video .container .contents_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--gray-scale-white);
}

#testimonial-video .container .contents_wrapper h6 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

#testimonial-video .container .contents_wrapper h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    margin: 12px 0 32px;
}

#testimonial-video .container .contents_wrapper button {
    font-size: 22px;
    padding: 28px;
    border: 1px solid var(--gray-scale-white);
    border-radius: 100%;
}

#testimonial-video .container .contents_wrapper button:hover {
    border: 1px solid var(--gray-scale-gray-–-200);
}

/*-- ========= testimonial SECTION END =============== --*/

/*-- ========= blog SECTION START =============== --*/
#blog {
    padding-bottom: 100px;
    background: linear-gradient(to bottom, var(--gray-scale-white) 50%, var(--gren-gray-scale-50) 50%);
}

#blog h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
    margin-bottom: 50px;
}

#blog .blog_card {
    width: calc(33.33% - 16px);
    background: var(--gray-scale-white);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

#blog .blog_card:hover {
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.1);
}

#blog .blog_card .img_wrapper {
    position: relative;
}

#blog .blog_card .img_wrapper .date {
    padding: 6px 16px 10px;
    background: var(--gray-scale-white);
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#blog .blog_card .img_wrapper .date h4 {
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#blog .blog_card .img_wrapper .date h6 {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--gray-scale-gray-–-500);
}

#blog .blog_card h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin: 24px 0 8px;
}

#blog .blog_card:hover h5 {
    color: var(--branding-success-dark);
}

#blog .blog_card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
    margin-bottom: 20px;
}

#blog .blog_card a {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--branding-success);
}

#blog .blog_card a::after {
    content: '';
    position: absolute;
    inset: 0;
}

#blog .blog_card a span {
    font-size: 21px;
    margin-left: 10px;
}

/*-- ========= blog SECTION END =============== --*/

/*-- ========= newsletter SECTION START =============== --*/
#newsletter {
    padding: 50px 0;
    border-top: 1px solid rgba(180, 204, 180, 0.700);
    background: var(--gren-gray-scale-50);
}

#newsletter .brand_logo {
    font-size: 39px;
}


#newsletter .contents h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
    margin-bottom: 4px;
}

#newsletter .contents p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-400);
}

#newsletter .subscription form {
    width: 535px;
    height: 52px;
    position: relative;
}

#newsletter .subscription form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    height: 100%;
    background: var(--gray-scale-white);
    border: 1px solid var(--gren-gray-scale-100);
    border-radius: 46px;
    padding: 14px 186px 14px 24px;
}

#newsletter .subscription form input::placeholder {
    color: var(--gren-gray-scale-500);
}


#newsletter .subscription form button {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    width: 162px;
    height: 100%;
    color: var(--gray-scale-white);
    background: var(--branding-success);
    border-radius: 43px;
    padding: 16px 40px;
    position: absolute;
    right: 0;
    top: 0;
}

#newsletter .subscription form button:hover {
    background: var(--branding-success-dark);
}

/*-- ========= newsletter SECTION END =============== --*/

/*-- ========= main-footer SECTION START =============== --*/
#main-footer {
    background: var(--gren-gray-scale-900);
    position: relative;
}

#main-footer .vector_1,
#main-footer .vector_2 {
    position: absolute;
    bottom: 0;
}

#main-footer .vector_1 {
    left: 0;
}

#main-footer .vector_2 {
    right: 0;
}

#main-footer .footer_row {
    padding: 100px 0;
}

#main-footer .company_detail h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#main-footer .company_detail p {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
    margin: 16px 0;
}

#main-footer .company_detail .contact_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#main-footer .company_detail .contact_link span:not(span.or) {
    border-bottom: 2px solid var(--branding-success);
    padding: 6px 0;
    display: inline-block;
}

#main-footer .company_detail .contact_link span.or {
    font-weight: 400;
    font-size: 16px;
    color: var(--gren-gray-scale-500);
    margin: 0 16px;
    display: inline-block;
}

#main-footer .account ul li,
#main-footer .helps ul li,
#main-footer .proxy ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-400);
    margin: 12px 0 0;
}

#main-footer .account ul li:not(:first-child):hover,
#main-footer .helps ul li:not(:first-child):hover,
#main-footer .proxy ul li:not(:first-child):hover {
    color: var(--gray-scale-white);
}

#main-footer .account ul li:first-child,
#main-footer .helps ul li:first-child,
#main-footer .proxy ul li:first-child,
#main-footer .instagram h4 {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-scale-white);
    margin: 0 0 20px;
}

#main-footer .instagram .img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0;
}

#main-footer .instagram .img_wrapper {
    width: calc(25% - 9px);
}

#main-footer .copyright_row {
    padding: 24px 0;
    border-top: 1px solid rgba(97, 128, 98, 0.300);
}

.social_icons li {
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    color: var(--gren-gray-scale-300);
    cursor: pointer;
}

.social_icons li:hover {
    color: var(--gray-scale-white) !important;
    background: var(--branding-success) !important;
}

.social_icons li:not(:first-child) {
    margin-left: 8px;
}

#main-footer .copyright_row .copyright p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#main-footer .copyright_row .copyright {
    margin: 15px 0 25px;
}

#main-footer .copyright_row .payment_icon img {
    display: inline-block;
}

#main-footer .copyright_row .payment_icon img:not(:last-child) {
    margin-right: 6px;
}

/*-- ========= main-footer SECTION END =============== --*/